<p>Percent off: <%= @bulk_discount.discount %></p>
<p>Quantity threshold: <%= @bulk_discount.threshold %></p>
<p><%= link_to 'edit', edit_merchant_bulk_discount_path(@merchant, @bulk_discount) %></p>
